.accent {
  color: #e45900;
}

.center-align {
  text-align: center;
}

.start-align {
  text-align: start;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 720px;
}

a, a:link, a:visited {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: #e45900;
}

@media only screen and (max-width: 550px) {
  .img-h {
    max-height: 200rem;
  }
}

@media only screen and (min-width: 551px) {
  .img-h {
  max-height: 300rem;
  }
}
.img-h img {
  max-height: 100%;
  max-width: 100%;
}

h1, h2, h4 {
  font-family: 'EB Garamond', serif;
  margin-bottom: 2rem;
}

h2 {
  font-style: italic;
}

h3 {
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 1.75rem;
}

.image-circle {
  border-radius: 50%;
}

.list-unstyled {
  list-style: none;
}

.mb-3 {
  margin-bottom: 3.5rem;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.mb-1-ul {
  margin-bottom: 1.5rem;
}

a.icons-personalized {
  margin: 0 10px;
}

ul.fzb > li {
  font-size: 1.75rem;
}

div.one-half h2 {
  margin-bottom: 3rem;
}